body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 1440px;
  background-image: url(../img/topbackground.png);
  background-position: top right center;
  background-repeat: no-repeat;
  background-size: 2600px 800px;
  margin: 0 auto;
}

@font-face {
  font-family: 'neon_tubes_2regular';
  src: url('neontubes2-webfont.woff2') format('woff2'), url('neontubes2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  height: 650px;
  background-image: url(../img/jukebox@2x.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 875px 650px;
  color: #FFF;
  margin: 0 auto;
}

nav {
  max-width: 960px;
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

.nav-right {
  display: flex;
  list-style-type: none;
}

.nav-right li {
  padding: 15px;
  margin-left: 30px;
}

.nav-border {
  width: 74px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(234, 76, 137, 0.25);
  border: solid 2px #ea4c89;
}

.headline-container {
  max-width: 960px;
  margin: 0 auto;
}

#header-headline {
  max-width: 960px;
  font-family: 'neon_tubes_2regular';
  font-size: 42px;
  letter-spacing: 1px;
  line-height: 56px;
  margin-top: 16vw;
  font-weight: 100;
  width: 35vw;
  text-align: left;
  animation: flicker 1.5s infinite alternate;
  color: #FFF;
}

/* Animate neon flicker */

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 .5rem #FFF;
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.headline-button {
  display: flex;
  margin-top: 50px;
  border: 2px solid #EA4C89;
  width: 240px;
  padding: 10px;
  color: #8E65E3;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(234, 76, 137, 0.25);
}

.pink-app-icon {
  height: 50px;
  padding-right: 10px;
}

.headline-button h4, h2 {
  margin: 0;
}

.headline-button h4 {
  margin-top: 2px;
}

.featured-icons-section {
  max-width: 800px;
  margin: 0 auto;
  color: #B4BCC4;
  padding-top: 12vw;
}

.featured-icons-section h1 {
  font-size: 3em;
  padding: 0 0 10px 40px;
}

.featured-icons-section ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.featured-icons {
  height: 80px;
  padding-bottom: 10vw;
}

.artboards-mockup {
  display: block;
  margin: auto;
  width: 80vw;
  padding: 0 0 8vw 0;
  max-width: 1300px;
}

.mockup-screen-size {
  height: 600px;
}

.classic-screen-size {
  height: 800px;
}

.engaged-mode-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
  background-image: url(../img/topleftoval@3x.png);
  background-size: 775px 500px;
  background-position: left;
  background-repeat: no-repeat;
}

.h2-color {
  margin: 0;
  font-size: 2.5em;
  color: #8E65E3;
}

.h4-color {
  margin: 0;
  padding: 10px 0;
  font-size: 1.3em;
  color: #B9C8DD;
}

.p-color {
  margin: 0;
  font-size: 1.2em;
  color: #205284;
}

.left-engaged {
  margin: auto 0;
  padding-left: 15vw;
}

.right-engaged {
  margin: auto 0;
  width: 30vw;
  padding-left: 5vw;
}

.classic-mode-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
  background-image: url(../img/middleoval@3x.png);
  background-size:725px 475px;
  background-position: right;
  background-repeat: no-repeat;
}

.right-classic {
  grid-column: 2;
  margin: auto 0;
  padding-top: 5vw;
  padding-left: 5vw;
}

.left-classic {
  grid-column: 1;
  grid-row: 1;
  margin: auto 0;
  width: 30vw;
  margin-top: 250px;
  padding-left: 15vw;
}

.account-settings-section {
  margin-top: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
  background-image: url(../img/bottomleftoval@3x.png);
  background-size: 725px 525px;
  background-position: left;
  background-repeat: no-repeat;
}

.left-account {
  margin: auto 0;
  padding-left: 15vw;
}

.right-account {
  margin: auto 0;
  width: 30vw;
  padding-left: 5vw;
}

footer {
  height: 800px;
  background-image: url(../img/bottombackground@3x.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 2600px 800px;
  margin: 0 auto;
}

footer h1 {
  font-size: 3em;
  color: #FFF;
  text-align: center;
}

footer p {
  color: #B4BCC4;
  font-size: 1.5em;
  width: 60vw;
  margin: auto;
  padding-bottom: 20px;
}

.main-logo {
  display: block;
  width: 30%;
  margin: auto;
  padding-top: 100px;
}

.footer-button {
  display: flex;
  border: 2px solid #EA4C89;
  width: 240px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(234, 76, 137, 0.25);
  margin: 0 auto;
  margin-bottom: 50px;
}

.pink-app-icon {
  height: 50px;
  padding-right: 10px;
}

.footer-button h4, h2 {
  margin: 0;
  color: #8E65E3;
}

.footer-button h4 {
  margin-top: 2px;
}

.actual-footer {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 5vh;
}

.actual-footer h4 {
  color: #FFF;
  font-size: 1.3em;
}

.footer-icons ul {
  display: flex;
  float: right;
  list-style-type: none;
}

.footer-icons img {
  height: 50px;
}

.footer-icons li {
  margin: 0 20px;
}
